/*.wrapper {
  max-width: 400px !important;
  margin: 0 auto !important; /* 上下邊距0，左右自動，這會將內容居中 */
  padding: 20px !important;
}*/

.photo {
  width: 100%;      /* 或設定為特定的 px 值 */
  max-width: 100px; /* 限制照片的最大寬度 */
  margin: 0 auto;   /* 將照片居中顯示 */
}

.content {
  max-width: 500px; /* 文本區域的最大寬度 */
  margin: 0 auto;   /* 文本內容居中 */
  padding: 20px;    /* 文本周圍留白 */
}
